.Home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100vw;
    background-color: rgb(212, 212, 212);
}

.Home-container {
    width: 40vw;
    margin-top: 20px;

}

.Home-container2 {
    width: 100%;
    padding: 40px 30px;
    background-color: white;
    border-radius: 10px;

}


.AddTask-input {
    width: 80%;
}

.ToDoList-main{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 10px;
}

.buttonContainer{
float: right;
}

*{
    margin:0
}

